force-app/main/default/flows/Flowdometer_Update_Tasks_with_Current_Step.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Fault_Message</name>
        <label>Send Fault Message</label>
        <locationX>440</locationX>
        <locationY>755</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Type_for_Error.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>errorMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Error found on Task while trying to update Flowdometer Step it happened during.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varUserIDs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Set_Running_User_ID</name>
        <label>Set Running User ID</label>
        <locationX>440</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varUserIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Fault_Message</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>formWhatCaseSafe</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$Record.WhatId})</expression>
    </formulas>
    <formulas>
        <name>formWhoCaseSafe</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$Record.WhoId})</expression>
    </formulas>
    <interviewLabel>Flowdometer - Update Tasks with Current Step {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Flowdometer - Update Tasks with Current Step</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Notification_Type_for_Error</name>
        <label>Get Notification Type for Error</label>
        <locationX>440</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Running_User_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Flowdometer_Task_Error</stringValue>
            </value>
        </filters>
        <filters>
            <field>NamespacePrefix</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Flowdometer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Step_from_Flow</name>
        <label>Get Step from Flow</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Task_with_Step</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Tracked_Object_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formWhatCaseSafe</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tracked_Object_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formWhoCaseSafe</elementReference>
            </value>
        </filters>
        <object>Flow__c</object>
        <outputAssignments>
            <assignToReference>varCurrentStep</assignToReference>
            <field>Most_Recent_Step__c</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Task_with_Step</name>
        <label>Update Task with Step</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <faultConnector>
            <targetReference>Get_Notification_Type_for_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Step__c</field>
            <value>
                <elementReference>varCurrentStep</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Step_from_Flow</targetReference>
        </connector>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>errorMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Flowdometer tried to update an Activity with the Step record that was active for a related record. It does this so you know where in your process your activities were logged. It was unable to update the activity. Please troubleshoot editing this activity.&lt;/p&gt;&lt;p&gt;Activity ID: {!$Record.Id}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>varCurrentStep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRunningUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varUserIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
