force-app/main/default/flows/Flows_and_Steps_for_Tracked_Object.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Flow_Exists</name>
        <label>Flow Exists</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>Lookup_Previous_Step</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Exists</defaultConnectorLabel>
        <rules>
            <name>It_Doesnt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFlowID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Flow</targetReference>
            </connector>
            <label>It Doesnt</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_a_goal</name>
        <label>Found a goal?</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Find_Goal_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Look for a goal without Type</defaultConnectorLabel>
        <rules>
            <name>Found_a_Goal_of_Same_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFlowGoalID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Step_Goal</targetReference>
            </connector>
            <label>Found a Goal of Same Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Previous_Step_Exists</name>
        <label>Previous Step Exists</label>
        <locationX>182</locationX>
        <locationY>1550</locationY>
        <defaultConnector>
            <targetReference>Update_Last_Step</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Exists</defaultConnectorLabel>
        <rules>
            <name>It_Doesn_t</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLastStep</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Flow</targetReference>
            </connector>
            <label>It Doesn&apos;t</label>
        </rules>
    </decisions>
    <description>Flowdometer automation used to auto-create Flow and Step records as an object changes. Create a process builder, point it at the object you care about, and set the variables.</description>
    <formulas>
        <name>formAccountId</name>
        <dataType>String</dataType>
        <expression>IF({!formCurrentObjectType} = &quot;Account&quot;, {!varCurrentObjectID}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>formCaseId</name>
        <dataType>String</dataType>
        <expression>IF({!formCurrentObjectType} = &quot;Case&quot;, {!varCurrentObjectID}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>formContactId</name>
        <dataType>String</dataType>
        <expression>IF({!formCurrentObjectType} = &quot;Contact&quot;, {!varCurrentObjectID}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>formCurrentObjectType</name>
        <dataType>String</dataType>
        <expression>CASE(LEFT({!varCurrentObjectID}, 3),
	&quot;003&quot;, &quot;Contact&quot;,
	&quot;00Q&quot;, &quot;Lead&quot;,
	&quot;006&quot;, &quot;Opportunity&quot;,
	&quot;500&quot;, &quot;Case&quot;,
	&quot;001&quot;, &quot;Account&quot;,
	IF(NOT(ISBLANK({!varTrackedCustomObjectName})),
		{!varTrackedCustomObjectName},
		&quot;Custom Object&quot;
	)
)</expression>
    </formulas>
    <formulas>
        <name>formCurrentSequence</name>
        <dataType>Number</dataType>
        <expression>1+{!varLastStepSequence}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formLeadId</name>
        <dataType>String</dataType>
        <expression>IF({!formCurrentObjectType} = &quot;Lead&quot;, {!varCurrentObjectID}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>formOpportunityId</name>
        <dataType>String</dataType>
        <expression>IF({!formCurrentObjectType} = &quot;Opportunity&quot;, {!varCurrentObjectID}, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Flows and Steps for Tracked Object 
Run at: {!$Flow.CurrentDateTime}
=============
*Tracked Object*
Type: {!formCurrentObjectType}
ID: {!varCurrentObjectID}
Field: {!varCurrentFieldTracked}
Value: {!varCurrentFieldValue}</interviewLabel>
    <label>Flowdometer - Flows and Steps for Tracked Object</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Flow</name>
        <label>Create Flow</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <assignRecordIdToReference>varFlowID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Step</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>formAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>formCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>formContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Goal__c</field>
            <value>
                <elementReference>varFlowGoalID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>formLeadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name_of_Tracked_Record__c</field>
            <value>
                <elementReference>varNameofTrackedRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>formOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varFlowTrackerRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tracked_Field_Name__c</field>
            <value>
                <elementReference>varCurrentFieldTracked</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tracked_Object_ID__c</field>
            <value>
                <elementReference>varCurrentObjectID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tracked_Object__c</field>
            <value>
                <elementReference>formCurrentObjectType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>varType</elementReference>
            </value>
        </inputAssignments>
        <object>Flow__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Step</name>
        <label>Create Step</label>
        <locationX>182</locationX>
        <locationY>1430</locationY>
        <assignRecordIdToReference>varCurrentStepId</assignRecordIdToReference>
        <connector>
            <targetReference>Previous_Step_Exists</targetReference>
        </connector>
        <inputAssignments>
            <field>Field_Value_Initial_Timestamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Field_Value_Initial__c</field>
            <value>
                <elementReference>varCurrentFieldValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow__c</field>
            <value>
                <elementReference>varFlowID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Step__c</field>
            <value>
                <elementReference>varLastStep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plan_Next_Steps__c</field>
            <value>
                <elementReference>varPlanNextSteps</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varStepTrackerRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sequence__c</field>
            <value>
                <elementReference>formCurrentSequence</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Step_Goal__c</field>
            <value>
                <elementReference>varStepGoalId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Terminal_Stage__c</field>
            <value>
                <elementReference>varTerminalStage</elementReference>
            </value>
        </inputAssignments>
        <object>Step__c</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Flow</name>
        <label>Find Flow</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Flow_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Tracked_Field_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCurrentFieldTracked</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tracked_Object_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCurrentObjectID</elementReference>
            </value>
        </filters>
        <filters>
            <field>isGoal__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Flow__c</object>
        <outputAssignments>
            <assignToReference>varFlowID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Find_Goal</name>
        <label>Find Flow Goal</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_a_goal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Tracked_Field_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCurrentFieldTracked</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tracked_Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formCurrentObjectType</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varType</elementReference>
            </value>
        </filters>
        <filters>
            <field>isGoal__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Flow__c</object>
        <outputAssignments>
            <assignToReference>varFlowGoalID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Find_Goal_0</name>
        <label>Find Flow Goal</label>
        <locationX>270</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Step_Goal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Tracked_Field_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCurrentFieldTracked</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tracked_Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formCurrentObjectType</elementReference>
            </value>
        </filters>
        <filters>
            <field>isGoal__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Flow__c</object>
        <outputAssignments>
            <assignToReference>varFlowGoalID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Find_Step_Goal</name>
        <label>Find Step Goal</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Field_Value_Initial__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCurrentFieldValue</elementReference>
            </value>
        </filters>
        <filters>
            <field>Flow__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFlowGoalID</elementReference>
            </value>
        </filters>
        <filters>
            <field>isGoal__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Step__c</object>
        <outputAssignments>
            <assignToReference>varStepGoalId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPlanNextSteps</assignToReference>
            <field>Plan_Next_Steps__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTerminalStage</assignToReference>
            <field>Terminal_Stage__c</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Flow_Goal_RT</name>
        <label>Get Flow Goal RT</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Step_Goal_RT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tracker</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Flowdometer__Flow__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varFlowTrackerRT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Step_Goal_RT</name>
        <label>Get Step Goal RT</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Goal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tracker</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Flowdometer__Step__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varStepTrackerRT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Previous_Step</name>
        <label>Lookup Previous Step</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Step</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Flow__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFlowID</elementReference>
            </value>
        </filters>
        <filters>
            <field>isGoal__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Step__c</object>
        <outputAssignments>
            <assignToReference>varPriorStepHandleTimeWeekdays</assignToReference>
            <field>Handle_Time_Weekdays__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varLastStep</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varLastStepSequence</assignToReference>
            <field>Sequence__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPriorStepHandleTime</assignToReference>
            <field>Step_Handle_Time__c</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Flow</name>
        <label>Update Flow</label>
        <locationX>182</locationX>
        <locationY>1886</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFlowID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Most_Recent_Step__c</field>
            <value>
                <elementReference>varCurrentStepId</elementReference>
            </value>
        </inputAssignments>
        <object>Flow__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Last_Step</name>
        <label>Update Last Step</label>
        <locationX>270</locationX>
        <locationY>1670</locationY>
        <connector>
            <targetReference>Update_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLastStep</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Field_Value_Ending_Timestamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Field_Value_Ending__c</field>
            <value>
                <elementReference>varCurrentFieldValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Final_Handle_Time_Weekdays__c</field>
            <value>
                <elementReference>varPriorStepHandleTimeWeekdays</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Final_Handle_Time__c</field>
            <value>
                <elementReference>varPriorStepHandleTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Step__c</field>
            <value>
                <elementReference>varCurrentStepId</elementReference>
            </value>
        </inputAssignments>
        <object>Step__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Flow_Goal_RT</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varCurrentFieldTracked</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCurrentFieldValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCurrentObjectID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCurrentObjectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCurrentStepId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFlowGoalID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFlowID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFlowTrackerRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLastStep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLastStepSequence</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varNameofTrackedRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPlanNextSteps</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPriorStepHandleTime</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>1</scale>
    </variables>
    <variables>
        <name>varPriorStepHandleTimeWeekdays</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varStepGoalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varStepTrackerRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTerminalStage</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Only fill this out if you are tracking a custom object. If so, put in the API name of the object</description>
        <name>varTrackedCustomObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
