force-app/main/default/flows/Flowdometer_Autocalculate_Business_Hours.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Built by ProfessorFlow, you can get this component on UnofficialSF, or just use it here.</description>
        <name>Calculate_Business_Hours</name>
        <label>Calculate Business Hours</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>CalculateBusinessHoursDiff</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Business_Hours</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>businessHoursId</name>
            <value>
                <elementReference>Get_Most_Recently_Created_Business_Hours.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>endDate</name>
            <value>
                <elementReference>$Record.Field_Value_Ending_Timestamp__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startDate</name>
            <value>
                <elementReference>$Record.Field_Value_Initial_Timestamp__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CalculateBusinessHoursDiff</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <description>An optional automation to append Business Hours to your Flowdometer Trackers. Note that you will need to set up Business Hours first. If you have different sets of business hours, you&apos;ll want to Clone this Flow template and customize it.</description>
    <environments>Default</environments>
    <formulas>
        <name>formBusinessHours</name>
        <dataType>Number</dataType>
        <expression>{!Calculate_Business_Hours.diffResultMin}/60</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Autocalculate Business Hours {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Flowdometer - Autocalculate Business Hours</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Most_Recently_Created_Business_Hours</name>
        <label>Get Most Recently Created Business Hours</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Calculate_Business_Hours</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BusinessHours</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Business_Hours</name>
        <label>Set Business Hours</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Handle_Time_Business_Hours__c</field>
            <value>
                <elementReference>formBusinessHours</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Most_Recently_Created_Business_Hours</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Field_Value_Ending_Timestamp__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Step__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
