force-app/main/default/flows/Flowdometer_Lead_Status_change_creates_Flows_and_Steps.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Trigger_Conditions</name>
        <label>Trigger Conditions</label>
        <locationX>433</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>No Tracking Needed</defaultConnectorLabel>
        <rules>
            <name>Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trackers_for_Status_Changes</targetReference>
            </connector>
            <label>Created</label>
        </rules>
        <rules>
            <name>Status_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trackers_for_Status_Changes</targetReference>
            </connector>
            <label>Status Changed</label>
        </rules>
    </decisions>
    <formulas>
        <name>formIsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Flowdometer - Lead Status change creates Flows and Steps {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Flowdometer - Lead Status change creates Flows and Steps</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>314</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Trigger_Conditions</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Trackers_for_Status_Changes</name>
        <label>Trackers for Status Changes</label>
        <locationX>758</locationX>
        <locationY>383</locationY>
        <flowName>Flows_and_Steps_for_Tracked_Object</flowName>
        <inputAssignments>
            <name>varCurrentFieldTracked</name>
            <value>
                <stringValue>Status</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCurrentFieldValue</name>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCurrentObjectID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNameofTrackedRecord</name>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTerminalStage</name>
            <value>
                <elementReference>$Record.IsConverted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varType</name>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
