force-app/main/default/flows/Listener_Configuration_Main_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Query_and_Parse_History_Records_Latest</name>
        <label>Query and Parse History Records</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <actionName>ListenerFlowController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Limit_Collection</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>listenerConfig</name>
            <value>
                <elementReference>varFlowDoConfig</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>hasRecords</assignToReference>
            <name>hasRecords</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>checkSuccess</assignToReference>
            <name>isCheckSuccess</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>lstListenerFlow</assignToReference>
            <name>lstListenerFlow</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <description>Assign the Flowdometer Configurator record param from Batch to the Flow</description>
        <name>Set_Last_Check</name>
        <label>Set Last Check</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>updateFlowdoConfig.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFlowDoConfig.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateFlowdoConfig.Last_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateFlowdoConfig.Last_Execution_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_FlowdoConfig</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the Flowdometer Configurator record param from Batch to the Flow</description>
        <name>Set_Last_Check_0</name>
        <label>Set Last Check</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>updateFlowdoConfig.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFlowDoConfig.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateFlowdoConfig.Last_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_FlowdoConfig_0</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Limit_Collection</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Limit Collection</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>lstListenerFlow</collectionReference>
        <connector>
            <targetReference>Check_Records</targetReference>
        </connector>
        <limit>30</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>varEditStartTime</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Check_FlowdoConfig</name>
        <label>Check FlowdoConfig</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isActive_Config</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFlowDoConfig.isActive__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ALL_Record_Types</targetReference>
            </connector>
            <label>isActive Config</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Records</name>
        <label>Check Records</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Set_Last_Check_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Records_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hasRecords</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Parsed_Records</targetReference>
            </connector>
            <label>Has Records</label>
        </rules>
    </decisions>
    <description>Triggered by: Flowdometer - Listener Tracking Trigger. Flowdometer handler to query for untracked changes</description>
    <environments>Default</environments>
    <interviewLabel>Listener Configuration Main Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flowdometer - Listener Finds Changed Records</label>
    <loops>
        <name>Loop_Through_Parsed_Records</name>
        <label>Loop Through Parsed Records</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <collectionReference>lstListenerFlow</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Listener_Records_Using_Parsed_History_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Last_Check</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_ALL_Record_Types</name>
        <label>Get ALL Record Types</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Query_and_Parse_History_Records_Latest</targetReference>
        </connector>
        <filterLogic>(1 OR 4) AND (2 OR 3)</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tracker</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Flowdometer__Flow__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Flowdometer__Step__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Goal</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>RecordTypes</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>SobjectType</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <sortField>SobjectType</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_FlowdoConfig</name>
        <label>Update FlowdoConfig</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <inputReference>updateFlowdoConfig</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_FlowdoConfig_0</name>
        <label>Update FlowdoConfig</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <inputReference>updateFlowdoConfig</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_FlowdoConfig</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Listener_Records_Using_Parsed_History_Records</name>
        <label>Create Tracker Records Using Parsed History Records</label>
        <locationX>138</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Loop_Through_Parsed_Records</targetReference>
        </connector>
        <flowName>Listener_Flow_Sub_Flow</flowName>
        <inputAssignments>
            <name>RecordTypes</name>
            <value>
                <elementReference>RecordTypes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCurrentEditEndDateTime</name>
            <value>
                <elementReference>Loop_Through_Parsed_Records.varEditEndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCurrentEditStartDateTime</name>
            <value>
                <elementReference>Loop_Through_Parsed_Records.varEditStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCurrentFieldTracked</name>
            <value>
                <elementReference>Loop_Through_Parsed_Records.varCurrentFieldTracked</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCurrentFieldValue</name>
            <value>
                <elementReference>Loop_Through_Parsed_Records.varCurrentFieldValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCurrentObjectID</name>
            <value>
                <elementReference>Loop_Through_Parsed_Records.varCurrentObjectID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNameofTrackedRecord</name>
            <value>
                <elementReference>Loop_Through_Parsed_Records.varNameofTrackedRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTerminalStage</name>
            <value>
                <elementReference>Loop_Through_Parsed_Records.varTerminalStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTrackedCustomObjectName</name>
            <value>
                <elementReference>Loop_Through_Parsed_Records.varTrackedCustomObjectName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varType</name>
            <value>
                <elementReference>Loop_Through_Parsed_Records.varType</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>checkSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <apexClass>Flowdometer__ListenerFlowController</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>hasRecords</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>lstListenerFlow</name>
        <apexClass>Flowdometer__ListenerFlowController</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>updateFlowdoConfig</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Listener__c</objectType>
    </variables>
    <variables>
        <name>varFlowDoConfig</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Listener__c</objectType>
    </variables>
</Flow>
