force-app/main/default/flows/Listener_Flow_Sub_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Update_Flow_Records</name>
        <label>Update Flow Records</label>
        <locationX>510</locationX>
        <locationY>3962</locationY>
        <actionName>ListenerUpdateFlowController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Has_Records</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>currentStepId</name>
            <value>
                <elementReference>varCurrentStepId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>varCurrentObjectID</name>
            <value>
                <elementReference>varCurrentObjectID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>varCurrentObjectName</name>
            <value>
                <elementReference>formCurrentObjectType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>varFlowID</name>
            <value>
                <elementReference>varFlowTrackerRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ListenerUpdateFlowController</nameSegment>
        <outputParameters>
            <assignToReference>hasRecords</assignToReference>
            <name>hasRecords</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>checkSuccess</assignToReference>
            <name>isCheckSuccess</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>FlowToUpdateLst</assignToReference>
            <name>lstFlowToUpdate</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_Error_Message_Create_Flow_Tracker</name>
        <label>Set Error Message (Create Flow Tracker)</label>
        <locationX>378</locationX>
        <locationY>2966</locationY>
        <assignmentItems>
            <assignToReference>varErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Error_Message_to_Listener</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Message_Create_Step_Tracker</name>
        <label>Set Error Message (Create Step Tracker)</label>
        <locationX>1126</locationX>
        <locationY>3464</locationY>
        <assignmentItems>
            <assignToReference>varErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Error_Message_Get_All_Flows</name>
        <label>Set Error Message (Get All Flows)</label>
        <locationX>1390</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Error_Message_to_Listener</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Message_Get_All_Steps</name>
        <label>Set Error Message (Get All Steps)</label>
        <locationX>378</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>varErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Error_Message_to_Listener</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Message_Update_Flow</name>
        <label>Set Error Message (Update Flow)</label>
        <locationX>378</locationX>
        <locationY>4370</locationY>
        <assignmentItems>
            <assignToReference>varErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Error_Message_to_Listener</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Message_Update_Last_Step</name>
        <label>Set Error Message (Update Last Step)</label>
        <locationX>862</locationX>
        <locationY>3680</locationY>
        <assignmentItems>
            <assignToReference>varErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Error_Message_to_Listener</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Existing_Tracked_History_Records</name>
        <label>Set Existing Tracked History Records</label>
        <locationX>202</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>varExistingTrackedHistoryRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Existing_Tracked_History_Records_Loop.History_Record_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existing_Tracked_History_Records_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Goal_Flow</name>
        <label>Set Goal Flow</label>
        <locationX>466</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varFlowGoalRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sort_and_Assign_Flows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sort_and_Assign_Flows</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Goal_ID</name>
        <label>Set Goal ID</label>
        <locationX>138</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>varGoalStepChosen</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStepGoalId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Latest_Goal_Step.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPlanNextSteps</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Latest_Goal_Step.Plan_Next_Steps__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTerminalStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Latest_Goal_Step.Terminal_Stage__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Latest_Tracker_Step</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Latest_Tracker</name>
        <label>Set Latest Tracker Step</label>
        <locationX>466</locationX>
        <locationY>2300</locationY>
        <assignmentItems>
            <assignToReference>varLatestStepChosen</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLatestStep</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Latest_Tracker_Step</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLatestStepTrackerSequence</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Latest_Tracker_Step.Sequence__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Flow_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Tracker_Flow</name>
        <label>Set Tracker Flow</label>
        <locationX>202</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varFlowTrackerRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sort_and_Assign_Flows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sort_and_Assign_Flows</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_up_Flow_Tracker</name>
        <label>Set up Flow Tracker</label>
        <locationX>114</locationX>
        <locationY>2750</locationY>
        <assignmentItems>
            <assignToReference>varFlowTrackerRecord.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFlowTrackerRecord.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formCaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFlowTrackerRecord.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFlowTrackerRecord.Goal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFlowGoalRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFlowTrackerRecord.Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formLeadId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFlowTrackerRecord.Name_of_Tracked_Record__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNameofTrackedRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFlowTrackerRecord.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFlowTrackerRecord.Tracked_Field_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCurrentFieldTracked</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFlowTrackerRecord.Tracked_Object_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCurrentObjectID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFlowTrackerRecord.Tracked_Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formCurrentObjectType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFlowTrackerRecord.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFlowTrackerRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFlowTrackerRT</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Flow_Tracker</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Already_Tracked</name>
        <label>Already Tracked?</label>
        <locationX>378</locationX>
        <locationY>3248</locationY>
        <defaultConnector>
            <targetReference>Create_Step</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Need Step</defaultConnectorLabel>
        <rules>
            <name>Step_Already_Tracked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varExistingTrackedHistoryRecords</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>varHistoryRecordId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Records</targetReference>
            </connector>
            <label>Step Already Tracked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Flows_were_found</name>
        <label>Check if Flows were found</label>
        <locationX>378</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Latest_Tracker_Step</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Flows empty</defaultConnectorLabel>
        <rules>
            <name>ALL_Flows_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_ALL_Flows</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sort_and_Assign_Flows</targetReference>
            </connector>
            <label>ALL Flows not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Steps_were_found</name>
        <label>Check if Steps were found</label>
        <locationX>114</locationX>
        <locationY>1250</locationY>
        <defaultConnector>
            <targetReference>Latest_Tracker_Step</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Steps empty</defaultConnectorLabel>
        <rules>
            <name>ALL_Steps_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_ALL_Flows</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Latest_Goal_Step</targetReference>
            </connector>
            <label>ALL Steps not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Flow_Exists</name>
        <label>Flow Exists</label>
        <locationX>378</locationX>
        <locationY>2642</locationY>
        <defaultConnector>
            <targetReference>Already_Tracked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Exists</defaultConnectorLabel>
        <rules>
            <name>Flow_Doesnt_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFlowTrackerRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_up_Flow_Tracker</targetReference>
            </connector>
            <label>It Doesnt</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Records</name>
        <label>Has Records</label>
        <locationX>378</locationX>
        <locationY>4154</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hasRecords</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Flow</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Previous_Step_Exists</name>
        <label>Previous Step Exists</label>
        <locationX>510</locationX>
        <locationY>3464</locationY>
        <defaultConnector>
            <targetReference>Update_Last_Step</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Exists</defaultConnectorLabel>
        <rules>
            <name>It_Doesn_t</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLatestStep.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Flow_Records</targetReference>
            </connector>
            <label>It Doesn&apos;t</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type_of_Step</name>
        <label>Record Type of Step</label>
        <locationX>270</locationX>
        <locationY>1466</locationY>
        <defaultConnector>
            <targetReference>Latest_Goal_Step</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>Goal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Latest_Goal_Step.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varStepGoalRT</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varGoalStepChosen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Goal_ID</targetReference>
            </connector>
            <label>Goal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type_of_Step_Check</name>
        <label>Record Type of Step</label>
        <locationX>598</locationX>
        <locationY>2192</locationY>
        <defaultConnector>
            <targetReference>Latest_Tracker_Step</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>Step_Tracker</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Latest_Tracker_Step.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varStepTrackerRT</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varLatestStepChosen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Latest_Tracker_Step.History_Record_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varLastHistoryRecordId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Latest_Tracker</targetReference>
            </connector>
            <label>Step Tracker</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_Flow</name>
        <label>Type of Flow</label>
        <locationX>466</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Sort_and_Assign_Flows</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FlowTracker</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sort_and_Assign_Flows.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varFlowTrackerRT</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Tracker_Flow</targetReference>
            </connector>
            <label>Tracker</label>
        </rules>
        <rules>
            <name>FlowGoal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sort_and_Assign_Flows.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varFlowGoalRT</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Goal_Flow</targetReference>
            </connector>
            <label>Goal</label>
        </rules>
    </decisions>
    <description>Use History Records collected in {Flowdometer - (2) Listener Finds Changed Records} to create Flow and Step records for the record being tracked</description>
    <environments>Default</environments>
    <formulas>
        <name>formAccountId</name>
        <dataType>String</dataType>
        <expression>IF({!formCurrentObjectType} = &quot;Account&quot;, {!varCurrentObjectID}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>formCaseId</name>
        <dataType>String</dataType>
        <expression>IF({!formCurrentObjectType} = &quot;Case&quot;, {!varCurrentObjectID}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>formContactId</name>
        <dataType>String</dataType>
        <expression>IF({!formCurrentObjectType} = &quot;Contact&quot;, {!varCurrentObjectID}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>formCurrentObjectType</name>
        <dataType>String</dataType>
        <expression>CASE(LEFT({!varCurrentObjectID}, 3),
	&quot;003&quot;, &quot;Contact&quot;,
	&quot;00Q&quot;, &quot;Lead&quot;,
	&quot;006&quot;, &quot;Opportunity&quot;,
	&quot;500&quot;, &quot;Case&quot;,
	&quot;001&quot;, &quot;Account&quot;,
	IF(NOT(ISBLANK({!varTrackedCustomObjectName})),
		{!varTrackedCustomObjectName},
		&quot;Custom Object&quot;
	)
)</expression>
    </formulas>
    <formulas>
        <name>formCurrentSequence</name>
        <dataType>Number</dataType>
        <expression>1+{!varLatestStepTrackerSequence}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formLeadId</name>
        <dataType>String</dataType>
        <expression>IF({!formCurrentObjectType} = &quot;Lead&quot;, {!varCurrentObjectID}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>formOpportunityId</name>
        <dataType>String</dataType>
        <expression>IF({!formCurrentObjectType} = &quot;Opportunity&quot;, {!varCurrentObjectID}, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Listener Flow Sub Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flowdometer - (3) Listener Creates Trackers</label>
    <loops>
        <name>Existing_Tracked_History_Records_Loop</name>
        <label>Existing Tracked History Records Loop</label>
        <locationX>114</locationX>
        <locationY>950</locationY>
        <collectionReference>Get_ALL_Steps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Existing_Tracked_History_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_Steps_were_found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Latest_Goal_Step</name>
        <label>Latest Goal Step</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <collectionReference>Get_ALL_Steps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Record_Type_of_Step</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Latest_Tracker_Step</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Latest_Tracker_Step</name>
        <label>Latest Tracker Step</label>
        <locationX>378</locationX>
        <locationY>2084</locationY>
        <collectionReference>Get_ALL_Steps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Record_Type_of_Step_Check</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Flow_Exists</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Sort_and_Assign_Flows</name>
        <label>Sort and Assign Flows</label>
        <locationX>114</locationX>
        <locationY>350</locationY>
        <collectionReference>varALLFlows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Type_of_Flow</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_ALL_Steps</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Flow_Tracker</name>
        <label>Create Flow Tracker</label>
        <locationX>114</locationX>
        <locationY>2858</locationY>
        <connector>
            <targetReference>Already_Tracked</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Message_Create_Flow_Tracker</targetReference>
        </faultConnector>
        <inputReference>varFlowTrackerRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Step</name>
        <label>Create Step</label>
        <locationX>510</locationX>
        <locationY>3356</locationY>
        <assignRecordIdToReference>varCurrentStepId</assignRecordIdToReference>
        <connector>
            <targetReference>Previous_Step_Exists</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Message_Create_Step_Tracker</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Field_Value_Initial_Timestamp__c</field>
            <value>
                <elementReference>varCurrentEditStartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Field_Value_Initial__c</field>
            <value>
                <elementReference>varCurrentFieldValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow__c</field>
            <value>
                <elementReference>varFlowTrackerRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>History_Record_ID__c</field>
            <value>
                <elementReference>varHistoryRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Step__c</field>
            <value>
                <elementReference>varLatestStep.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plan_Next_Steps__c</field>
            <value>
                <elementReference>varPlanNextSteps</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varStepTrackerRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sequence__c</field>
            <value>
                <elementReference>formCurrentSequence</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Step_Goal__c</field>
            <value>
                <elementReference>varStepGoalId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Terminal_Stage__c</field>
            <value>
                <elementReference>varTerminalStage</elementReference>
            </value>
        </inputAssignments>
        <object>Step__c</object>
    </recordCreates>
    <recordLookups>
        <name>Find_ALL_Flows</name>
        <label>Get ALL Flows</label>
        <locationX>378</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Flows_were_found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Message_Get_All_Flows</targetReference>
        </faultConnector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5)</filterLogic>
        <filters>
            <field>Tracked_Field_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCurrentFieldTracked</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tracked_Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formCurrentObjectType</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varType</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tracked_Object_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCurrentObjectID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFlowGoalRT</elementReference>
            </value>
        </filters>
        <object>Flow__c</object>
        <outputReference>varALLFlows</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_ALL_Steps</name>
        <label>Get ALL Steps</label>
        <locationX>114</locationX>
        <locationY>842</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Tracked_History_Records_Loop</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Message_Get_All_Steps</targetReference>
        </faultConnector>
        <filterLogic>1 OR 2</filterLogic>
        <filters>
            <field>Flow__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFlowGoalRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Flow__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFlowTrackerRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Step__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Sequence__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Step_Handle_Time__c</queriedFields>
        <queriedFields>HandleTimeWeekdays__c</queriedFields>
        <queriedFields>Plan_Next_Steps__c</queriedFields>
        <queriedFields>Terminal_Stage__c</queriedFields>
        <queriedFields>History_Record_ID__c</queriedFields>
        <queriedFields>StartDate__c</queriedFields>
        <queriedFields>History_Record_ID_for_Last_Step__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Add_Error_Message_to_Listener</name>
        <label>Add Error Message to Listener</label>
        <locationX>1390</locationX>
        <locationY>350</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varListenerId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Latest_Flow_Error_Message__c</field>
            <value>
                <elementReference>varErrorMessage</elementReference>
            </value>
        </inputAssignments>
        <object>Listener__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Flow</name>
        <label>Update Flow</label>
        <locationX>114</locationX>
        <locationY>4262</locationY>
        <faultConnector>
            <targetReference>Set_Error_Message_Update_Flow</targetReference>
        </faultConnector>
        <inputReference>FlowToUpdateLst</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Last_Step</name>
        <label>Update Last Step</label>
        <locationX>598</locationX>
        <locationY>3572</locationY>
        <connector>
            <targetReference>Update_Flow_Records</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Message_Update_Last_Step</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLatestStep.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Field_Value_Ending_Timestamp__c</field>
            <value>
                <elementReference>varCurrentEditStartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Field_Value_Ending__c</field>
            <value>
                <elementReference>varCurrentFieldValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Final_Handle_Time_Weekdays__c</field>
            <value>
                <elementReference>varLatestStep.HandleTimeWeekdays__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Final_Handle_Time__c</field>
            <value>
                <elementReference>varLatestStep.Step_Handle_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Step__c</field>
            <value>
                <elementReference>varCurrentStepId</elementReference>
            </value>
        </inputAssignments>
        <object>Step__c</object>
    </recordUpdates>
    <start>
        <locationX>252</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_ALL_Flows</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>checkSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>FlowToUpdateLst</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Flow__c</objectType>
    </variables>
    <variables>
        <name>hasRecords</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>RecordTypes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>varALLFlows</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Flow__c</objectType>
    </variables>
    <variables>
        <name>varCurrentEditEndDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCurrentEditStartDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCurrentFieldTracked</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCurrentFieldValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCurrentObjectID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCurrentStepId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varExistingTrackedHistoryRecords</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFlowGoalRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Flow__c</objectType>
    </variables>
    <variables>
        <name>varFlowGoalRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFlowTrackerRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Flow__c</objectType>
    </variables>
    <variables>
        <name>varFlowTrackerRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varGoalStepChosen</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varHistoryRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varHistoryRecords</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLastHistoryRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLatestStep</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Step__c</objectType>
    </variables>
    <variables>
        <name>varLatestStepChosen</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varLatestStepTrackerSequence</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varListenerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNameofTrackedRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPlanNextSteps</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varStepGoalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varStepGoalRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varStepTrackerRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTerminalStage</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Only fill this out if you are tracking a custom object. If so, put in the API name of the object</description>
        <name>varTrackedCustomObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
