force-app/main/default/flows/Listener_Configuration_Main_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Record_Type_Ids</name>
        <label>Get Record Type Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>FlowdometerRecordTypeProvider</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Query_and_Parse_History_Records_Latest</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Message_Get_All_Record_Types</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>FlowdometerRecordTypeProvider</nameSegment>
        <outputParameters>
            <assignToReference>varFlowTrackerRT</assignToReference>
            <name>flowTrackerRecordTypeId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varFlowGoalRT</assignToReference>
            <name>flowGoalRecordTypeId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varStepTrackerRT</assignToReference>
            <name>stepTrackerRecordTypeId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varStepGoalRT</assignToReference>
            <name>stepGoalRecordTypeId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Query_and_Parse_History_Records_Latest</name>
        <label>Query and Parse History Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ListenerFlowController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Records</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>listenerConfig</name>
            <value>
                <elementReference>varFlowDoConfig</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ListenerFlowController</nameSegment>
        <outputParameters>
            <assignToReference>hasRecords</assignToReference>
            <name>hasRecords</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>checkSuccess</assignToReference>
            <name>isCheckSuccess</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>lstListenerFlow</assignToReference>
            <name>lstListenerFlow</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Error_updating_tracker_Flow</name>
        <label>Error updating tracker Flow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>updateFlowdoConfig.Latest_Flow_Error_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Errror updating Tracker Flow in Finds Changed Records: {!$Flow.FaultMessage}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_FlowdoConfig_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_current_item_variables_in_HistoryRecords</name>
        <label>Set current item variables in HistoryRecords</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varCurrentEditEndDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Parsed_Records.varEditEndTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentEditStartDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Parsed_Records.varEditStartTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Listener_Records_Using_Parsed_History_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Message_Get_All_Record_Types</name>
        <label>Set Error Message (Get All Record Types)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>updateFlowdoConfig.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFlowDoConfig.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateFlowdoConfig.Latest_Flow_Error_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error getting Record Types in Finds Changed Records: {!$Flow.FaultMessage}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_FlowdoConfig_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Listener_isActive_back_to_true</name>
        <label>Set Listener isActive back to true</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>updateFlowdoConfig.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFlowDoConfig.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateFlowdoConfig.isActive__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Turn_Trigger_Back_On</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_FlowdoConfig</name>
        <label>Check FlowdoConfig</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isActive_Config</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFlowDoConfig.isActive__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Trigger</targetReference>
            </connector>
            <label>isActive Config</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Records</name>
        <label>Check Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Listener_isActive_back_to_true</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Records_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hasRecords</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Parsed_Records</targetReference>
            </connector>
            <label>Has Records</label>
        </rules>
    </decisions>
    <description>Triggered by: Flowdometer - Listener Tracking Trigger. Flowdometer handler to query for untracked changes</description>
    <environments>Default</environments>
    <interviewLabel>Listener Configuration Main Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flowdometer - (2) Listener Finds Changed Records</label>
    <loops>
        <name>Loop_Through_Parsed_Records</name>
        <label>Loop Through Parsed Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>lstListenerFlow</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_current_item_variables_in_HistoryRecords</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Listener_isActive_back_to_true</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Reset_Trigger</name>
        <label>Reset Trigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record_Type_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFlowDoConfig.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>isActive__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Listener__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Turn_Trigger_Back_On</name>
        <label>Turn Trigger Back On</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Error_updating_tracker_Flow</targetReference>
        </faultConnector>
        <inputReference>updateFlowdoConfig</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_FlowdoConfig_0</name>
        <label>Update FlowdoConfig</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>updateFlowdoConfig</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_FlowdoConfig</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Listener_Records_Using_Parsed_History_Records</name>
        <label>Create Tracker Records Using Parsed History Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Through_Parsed_Records</targetReference>
        </connector>
        <flowName>Listener_Flow_Sub_Flow</flowName>
        <inputAssignments>
            <name>varCurrentEditEndDateTime</name>
            <value>
                <elementReference>Loop_Through_Parsed_Records.varEditEndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCurrentEditStartDateTime</name>
            <value>
                <elementReference>Loop_Through_Parsed_Records.varEditStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCurrentFieldTracked</name>
            <value>
                <elementReference>Loop_Through_Parsed_Records.varCurrentFieldTracked</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCurrentFieldValue</name>
            <value>
                <elementReference>Loop_Through_Parsed_Records.varCurrentFieldValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCurrentObjectID</name>
            <value>
                <elementReference>Loop_Through_Parsed_Records.varCurrentObjectID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowGoalRT</name>
            <value>
                <elementReference>varFlowGoalRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowTrackerRT</name>
            <value>
                <elementReference>varFlowTrackerRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varHistoryRecordId</name>
            <value>
                <elementReference>Loop_Through_Parsed_Records.varHistoryRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varHistoryRecords</name>
            <value>
                <elementReference>varHistoryRecords</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varLastHistoryRecordId</name>
            <value>
                <elementReference>Loop_Through_Parsed_Records.varLastHistoryRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varListenerId</name>
            <value>
                <elementReference>varFlowDoConfig.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNameofTrackedRecord</name>
            <value>
                <elementReference>Loop_Through_Parsed_Records.varNameofTrackedRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varStepGoalRT</name>
            <value>
                <elementReference>varStepGoalRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varStepTrackerRT</name>
            <value>
                <elementReference>varStepTrackerRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTrackedCustomObjectName</name>
            <value>
                <elementReference>Loop_Through_Parsed_Records.varTrackedCustomObjectName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varType</name>
            <value>
                <elementReference>Loop_Through_Parsed_Records.varType</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>checkSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <apexClass>ListenerFlowController</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>hasRecords</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>lstListenerFlow</name>
        <apexClass>ListenerFlowController</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updateFlowdoConfig</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Listener__c</objectType>
    </variables>
    <variables>
        <name>varCurrentEditEndDateTime</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCurrentEditStartDateTime</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCurrentHistoryRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFlowDoConfig</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Listener__c</objectType>
    </variables>
    <variables>
        <name>varFlowGoalRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFlowTrackerRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varHistoryRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varHistoryRecords</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRecordTypes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>varStepGoalRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varStepTrackerRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
