force-app/main/default/flows/Listener_Flow_Sub_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Update_Flow_Records</name>
        <label>Update Flow Records</label>
        <locationX>182</locationX>
        <locationY>3458</locationY>
        <actionName>ListenerUpdateFlowController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Has_Records</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>currentStepId</name>
            <value>
                <elementReference>varCurrentStepId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>varCurrentObjectID</name>
            <value>
                <elementReference>varCurrentObjectID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>varCurrentObjectName</name>
            <value>
                <elementReference>formCurrentObjectType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>varFlowID</name>
            <value>
                <elementReference>varFlowTrackerRecord.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>hasRecords</assignToReference>
            <name>hasRecords</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>checkSuccess</assignToReference>
            <name>isCheckSuccess</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>FlowToUpdateLst</assignToReference>
            <name>lstFlowToUpdate</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Copy_1_of_Flow_Goal_with_Type</name>
        <label>Set Goal Flow</label>
        <locationX>534</locationX>
        <locationY>1142</locationY>
        <assignmentItems>
            <assignToReference>varFlowGoalRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sort_and_Assign_Flows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sort_and_Assign_Flows</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Set_Flow_RT</name>
        <label>Set Step Tracker RT</label>
        <locationX>1238</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varStepTrackerRT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record_Types.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_Types</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Set_up_Flow_Tracker</name>
        <label>Set up Flow Tracker</label>
        <locationX>50</locationX>
        <locationY>2750</locationY>
        <assignmentItems>
            <assignToReference>varFlowTrackerRecord.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFlowTrackerRecord.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formCaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFlowTrackerRecord.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFlowTrackerRecord.Goal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFlowGoalRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFlowTrackerRecord.Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formLeadId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFlowTrackerRecord.Name_of_Tracked_Record__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNameofTrackedRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFlowTrackerRecord.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFlowTrackerRecord.Tracked_Field_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCurrentFieldTracked</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFlowTrackerRecord.Tracked_Object_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCurrentObjectID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFlowTrackerRecord.Tracked_Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formCurrentObjectType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFlowTrackerRecord.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFlowTrackerRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFlowTrackerRT</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Create_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Flow_Goal_RT</name>
        <label>Set Flow Goal RT</label>
        <locationX>270</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varFlowGoalRT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record_Types.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_Types</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Flow_RT</name>
        <label>Set Flow Tracker RT</label>
        <locationX>534</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varFlowTrackerRT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record_Types.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_Types</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Goal_ID</name>
        <label>Set Goal ID</label>
        <locationX>270</locationX>
        <locationY>1742</locationY>
        <assignmentItems>
            <assignToReference>varGoalStepChosen</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStepGoalId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Latest_Goal_Step.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPlanNextSteps</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Latest_Goal_Step.Plan_Next_Steps__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTerminalStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Latest_Goal_Step.Terminal_Stage__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Latest_Tracker_Step</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Latest_Tracker</name>
        <label>Set Latest Tracker Step</label>
        <locationX>270</locationX>
        <locationY>2300</locationY>
        <assignmentItems>
            <assignToReference>varLatestStepChosen</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLatestStep</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Latest_Tracker_Step</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLatestStepTrackerSequence</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Latest_Tracker_Step.Sequence__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_1_of_Flow_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Step_Goal_RT</name>
        <label>Set Step Goal RT</label>
        <locationX>974</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varStepGoalRT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record_Types.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_Types</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Tracker_Flow</name>
        <label>Set Tracker Flow</label>
        <locationX>270</locationX>
        <locationY>1142</locationY>
        <assignmentItems>
            <assignToReference>varFlowTrackerRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sort_and_Assign_Flows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sort_and_Assign_Flows</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Object_Type</name>
        <label>Check Object Type</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Record_Types</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record_Types.SobjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Flowdometer__Flow__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Record_Type_Name</targetReference>
            </connector>
            <label>Flow</label>
        </rules>
        <rules>
            <name>Step</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record_Types.SobjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Flowdometer__Step__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Step_Record_Type_Name</targetReference>
            </connector>
            <label>Step</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Type_Name</name>
        <label>Check Record Type Name</label>
        <locationX>534</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Record_Types</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Goal_RT_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record_Types.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Goal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Flow_Goal_RT</targetReference>
            </connector>
            <label>Goal RT Name</label>
        </rules>
        <rules>
            <name>Tracker_RT_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record_Types.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tracker</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Flow_RT</targetReference>
            </connector>
            <label>Tracker RT Name</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Step_Record_Type_Name</name>
        <label>Check Step Record Type Name</label>
        <locationX>1238</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Record_Types</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Goal_RT_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record_Types.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Goal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Step_Goal_RT</targetReference>
            </connector>
            <label>Step Goal RT Name</label>
        </rules>
        <rules>
            <name>Copy_1_of_Tracker_RT_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record_Types.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tracker</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Set_Flow_RT</targetReference>
            </connector>
            <label>Step Tracker RT Name</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Flow_Exists</name>
        <label>Flow Exists</label>
        <locationX>182</locationX>
        <locationY>2642</locationY>
        <defaultConnector>
            <targetReference>Create_Step</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Exists</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_It_Doesnt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFlowTrackerRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Set_up_Flow_Tracker</targetReference>
            </connector>
            <label>It Doesnt</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Record_Type_of_Step</name>
        <label>Record Type of Step</label>
        <locationX>402</locationX>
        <locationY>2192</locationY>
        <defaultConnector>
            <targetReference>Latest_Tracker_Step</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>Step_Tracker</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Latest_Tracker_Step.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varStepTrackerRT</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varLatestStepChosen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Latest_Tracker</targetReference>
            </connector>
            <label>Step Tracker</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Records</name>
        <label>Has Records</label>
        <locationX>182</locationX>
        <locationY>3566</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hasRecords</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Flow</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Previous_Step_Exists</name>
        <label>Previous Step Exists</label>
        <locationX>182</locationX>
        <locationY>3158</locationY>
        <defaultConnector>
            <targetReference>Update_Last_Step</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Exists</defaultConnectorLabel>
        <rules>
            <name>It_Doesn_t</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLatestStep.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Flow_Records</targetReference>
            </connector>
            <label>It Doesn&apos;t</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type_of_Step</name>
        <label>Record Type of Step</label>
        <locationX>402</locationX>
        <locationY>1634</locationY>
        <defaultConnector>
            <targetReference>Latest_Goal_Step</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>Goal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Latest_Goal_Step.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varStepGoalRT</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varGoalStepChosen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Goal_ID</targetReference>
            </connector>
            <label>Goal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_Flow</name>
        <label>Type of Flow</label>
        <locationX>534</locationX>
        <locationY>1034</locationY>
        <defaultConnector>
            <targetReference>Sort_and_Assign_Flows</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FlowTracker</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sort_and_Assign_Flows.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varFlowTrackerRT</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Tracker_Flow</targetReference>
            </connector>
            <label>Tracker</label>
        </rules>
        <rules>
            <name>FlowGoal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sort_and_Assign_Flows.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varFlowGoalRT</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Flow_Goal_with_Type</targetReference>
            </connector>
            <label>Goal</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formAccountId</name>
        <dataType>String</dataType>
        <expression>IF({!formCurrentObjectType} = &quot;Account&quot;, {!varCurrentObjectID}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>formCaseId</name>
        <dataType>String</dataType>
        <expression>IF({!formCurrentObjectType} = &quot;Case&quot;, {!varCurrentObjectID}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>formContactId</name>
        <dataType>String</dataType>
        <expression>IF({!formCurrentObjectType} = &quot;Contact&quot;, {!varCurrentObjectID}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>formCurrentEditTime</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!varEditTime} )</expression>
    </formulas>
    <formulas>
        <name>formCurrentObjectType</name>
        <dataType>String</dataType>
        <expression>CASE(LEFT({!varCurrentObjectID}, 3),
	&quot;003&quot;, &quot;Contact&quot;,
	&quot;00Q&quot;, &quot;Lead&quot;,
	&quot;006&quot;, &quot;Opportunity&quot;,
	&quot;500&quot;, &quot;Case&quot;,
	&quot;001&quot;, &quot;Account&quot;,
	IF(NOT(ISBLANK({!varTrackedCustomObjectName})),
		{!varTrackedCustomObjectName},
		&quot;Custom Object&quot;
	)
)</expression>
    </formulas>
    <formulas>
        <name>formCurrentSequence</name>
        <dataType>Number</dataType>
        <expression>1+{!varLatestStepTrackerSequence}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formLeadId</name>
        <dataType>String</dataType>
        <expression>IF({!formCurrentObjectType} = &quot;Lead&quot;, {!varCurrentObjectID}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>formOpportunityId</name>
        <dataType>String</dataType>
        <expression>IF({!formCurrentObjectType} = &quot;Opportunity&quot;, {!varCurrentObjectID}, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Listener Flow Sub Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flowdometer - Listener Creates Trackers</label>
    <loops>
        <name>Latest_Goal_Step</name>
        <label>Latest Goal Step</label>
        <locationX>182</locationX>
        <locationY>1526</locationY>
        <collectionReference>Get_ALL_Steps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Record_Type_of_Step</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Latest_Tracker_Step</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Latest_Tracker_Step</name>
        <label>Latest Tracker Step</label>
        <locationX>182</locationX>
        <locationY>2084</locationY>
        <collectionReference>Get_ALL_Steps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Record_Type_of_Step</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Flow_Exists</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Record_Types</name>
        <label>Record Types</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <collectionReference>RecordTypes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Object_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Find_ALL_Flows</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Sort_and_Assign_Flows</name>
        <label>Sort and Assign Flows</label>
        <locationX>182</locationX>
        <locationY>926</locationY>
        <collectionReference>varALLFlows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Type_of_Flow</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_ALL_Steps</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Flow</name>
        <label>Create Flow Tracker</label>
        <locationX>50</locationX>
        <locationY>2858</locationY>
        <connector>
            <targetReference>Create_Step</targetReference>
        </connector>
        <inputReference>varFlowTrackerRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Step</name>
        <label>Create Step</label>
        <locationX>182</locationX>
        <locationY>3050</locationY>
        <assignRecordIdToReference>varCurrentStepId</assignRecordIdToReference>
        <connector>
            <targetReference>Previous_Step_Exists</targetReference>
        </connector>
        <inputAssignments>
            <field>Field_Value_Initial_Timestamp__c</field>
            <value>
                <elementReference>varCurrentEditStartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Field_Value_Initial__c</field>
            <value>
                <elementReference>varCurrentFieldValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow__c</field>
            <value>
                <elementReference>varFlowTrackerRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Step__c</field>
            <value>
                <elementReference>varLatestStep.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plan_Next_Steps__c</field>
            <value>
                <elementReference>varPlanNextSteps</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varStepTrackerRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sequence__c</field>
            <value>
                <elementReference>formCurrentSequence</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Step_Goal__c</field>
            <value>
                <elementReference>varStepGoalId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Terminal_Stage__c</field>
            <value>
                <elementReference>varTerminalStage</elementReference>
            </value>
        </inputAssignments>
        <object>Step__c</object>
    </recordCreates>
    <recordLookups>
        <name>Find_ALL_Flows</name>
        <label>Get ALL Flows</label>
        <locationX>182</locationX>
        <locationY>818</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sort_and_Assign_Flows</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5)</filterLogic>
        <filters>
            <field>Tracked_Field_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCurrentFieldTracked</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tracked_Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formCurrentObjectType</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varType</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tracked_Object_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCurrentObjectID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFlowGoalRT</elementReference>
            </value>
        </filters>
        <object>Flow__c</object>
        <outputReference>varALLFlows</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_ALL_Steps</name>
        <label>Get ALL Steps</label>
        <locationX>182</locationX>
        <locationY>1418</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Latest_Goal_Step</targetReference>
        </connector>
        <filterLogic>1 OR 2</filterLogic>
        <filters>
            <field>Flow__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFlowGoalRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Flow__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFlowTrackerRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Step__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Sequence__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Step_Handle_Time__c</queriedFields>
        <queriedFields>HandleTimeWeekdays__c</queriedFields>
        <queriedFields>Plan_Next_Steps__c</queriedFields>
        <queriedFields>Terminal_Stage__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Flow</name>
        <label>Update Flow</label>
        <locationX>50</locationX>
        <locationY>3674</locationY>
        <inputReference>FlowToUpdateLst</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Last_Step</name>
        <label>Update Last Step</label>
        <locationX>270</locationX>
        <locationY>3266</locationY>
        <connector>
            <targetReference>Update_Flow_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLatestStep.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Field_Value_Ending_Timestamp__c</field>
            <value>
                <elementReference>varCurrentEditEndDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Field_Value_Ending__c</field>
            <value>
                <elementReference>varCurrentFieldValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Final_Handle_Time_Weekdays__c</field>
            <value>
                <elementReference>varLatestStep.HandleTimeWeekdays__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Final_Handle_Time__c</field>
            <value>
                <elementReference>varLatestStep.Step_Handle_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Step__c</field>
            <value>
                <elementReference>varCurrentStepId</elementReference>
            </value>
        </inputAssignments>
        <object>Step__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_Types</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AllStepsForGoals</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Step__c</objectType>
    </variables>
    <variables>
        <name>AllStepsforTrackers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Step__c</objectType>
    </variables>
    <variables>
        <name>checkSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_Only_Goal_Steps</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Step__c</objectType>
    </variables>
    <variables>
        <name>FlowToUpdateLst</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Flow__c</objectType>
    </variables>
    <variables>
        <name>hasRecords</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>RecordTypes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>varALLFlows</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Flow__c</objectType>
    </variables>
    <variables>
        <name>varAllSteps</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Step__c</objectType>
    </variables>
    <variables>
        <name>varCurrentEditEndDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCurrentEditStartDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCurrentFieldTracked</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCurrentFieldValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCurrentObjectID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCurrentObjectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCurrentStepId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEditTime</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFlowGoalRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Flow__c</objectType>
    </variables>
    <variables>
        <name>varFlowGoalRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFlowTrackerRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Flow__c</objectType>
    </variables>
    <variables>
        <name>varFlowTrackerRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varGoalStepChosen</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varLatestStep</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Step__c</objectType>
    </variables>
    <variables>
        <name>varLatestStepChosen</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varLatestStepTrackerSequence</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varNameofTrackedRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPlanNextSteps</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPriorStepHandleTime</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>1</scale>
    </variables>
    <variables>
        <name>varPriorStepHandleTimeWeekdays</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varStepGoalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varStepGoalRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStepTrackerRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTerminalStage</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Only fill this out if you are tracking a custom object. If so, put in the API name of the object</description>
        <name>varTrackedCustomObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
