force-app/main/default/flows/Set_Goal_for_Steps_in_Object_Field.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_from_First_Step</name>
        <label>Assign from First Step</label>
        <locationX>924</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varCurrentSequenceNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentStepName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Step_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentStepGoal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Goal_Handle_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMatchGoalwithFlows</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Apply_this_goal_against_historical_data_without_a_goal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCloneSteps</assignToReference>
            <operator>RemovePosition</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearCurrentVariables</name>
        <label>ClearCurrentVariables</label>
        <locationX>1056</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>varCurrentClonedStepHandleTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentClonedStepName</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Step_Goal_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Sequence</name>
        <label>Increment Sequence</label>
        <locationX>1100</locationX>
        <locationY>2570</locationY>
        <assignmentItems>
            <assignToReference>varCurrentSequenceNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formIncrementSequenceNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLastStepId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCurrStepId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getAvgStepTimes</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentStepName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Step_Name_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMatchingStepCount</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMatchingStepHTDaysSum</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMatchingStepHTHoursSum</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMatchingStepHTWeekdaysSum</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Create_Next_Step</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Totals_for_Avg</name>
        <label>Increment Totals for Avg</label>
        <locationX>1056</locationX>
        <locationY>2186</locationY>
        <assignmentItems>
            <assignToReference>varMatchingStepCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMatchingStepHTDaysSum</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCurrentAvgHandleTimeStep.Step_Handle_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMatchingStepHTHoursSum</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCurrentAvgHandleTimeStep.Handle_Time_Hours_in_this_Step__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMatchingStepHTWeekdaysSum</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCurrentAvgHandleTimeStep.HandleTimeWeekdays__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Matching_Steps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCurrentClonedStepVariables</name>
        <label>SetCurrentClonedStepVariables</label>
        <locationX>924</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varCurrentClonedStepName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCurrentCloneStep.Field_Value_Initial__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentClonedStepHandleTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCurrentCloneStep.Goal_Field_Change_Handle_Time_Hrs__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentClonedStepIsFinalStep</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCurrentCloneStep.Terminal_Stage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentClonedStepUnits</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCurrentCloneStep.Goal_Measured_In_units__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Flow_Goal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCurrentClonedStepVariables_0</name>
        <label>SetCurrentClonedStepVariables</label>
        <locationX>1100</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>varCurrentClonedStepName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCurrentCloneStep.Field_Value_Initial__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentClonedStepHandleTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCurrentCloneStep.Goal_Field_Change_Handle_Time_Hrs__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentClonedStepIsFinalStep</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCurrentCloneStep.Terminal_Stage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrentClonedStepUnits</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCurrentCloneStep.Goal_Measured_In_units__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Step_Goal_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Account</name>
        <choiceText>Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account</stringValue>
        </value>
    </choices>
    <choices>
        <name>Case</name>
        <choiceText>Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </choices>
    <choices>
        <name>Contact</name>
        <choiceText>Contact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contact</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lead</name>
        <choiceText>Lead</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lead</stringValue>
        </value>
    </choices>
    <choices>
        <name>Opportunity</name>
        <choiceText>Opportunity</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Opportunity</stringValue>
        </value>
    </choices>
    <choices>
        <name>OtherObject</name>
        <choiceText>Other Object</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other Object</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Limit_Collection_Size</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Limit Collection Size</label>
        <locationX>968</locationX>
        <locationY>1970</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>getAvgStepTimes</collectionReference>
        <connector>
            <targetReference>Matching_Steps</targetReference>
        </connector>
        <limit>100</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>CreatedDate</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>DidUnitsMatch</name>
        <label>Check Original Goal and Units Match</label>
        <locationX>924</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>ClearCurrentVariables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Didn&apos;t Match</defaultConnectorLabel>
        <rules>
            <name>Matched</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varCurrentClonedStepUnits</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetNextCloneStep_0</targetReference>
            </connector>
            <label>Matched</label>
        </rules>
    </decisions>
    <decisions>
        <name>Last_Step_Reached</name>
        <label>Last Step Reached?</label>
        <locationX>1100</locationX>
        <locationY>3002</locationY>
        <defaultConnector>
            <targetReference>Confirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Last step</defaultConnectorLabel>
        <rules>
            <name>Not_Yet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Keep_Going.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>DidUnitsMatch</targetReference>
            </connector>
            <label>Not Yet</label>
        </rules>
    </decisions>
    <decisions>
        <name>Last_Step_Reached_0</name>
        <label>Last Step Reached?</label>
        <locationX>1100</locationX>
        <locationY>1754</locationY>
        <defaultConnector>
            <targetReference>Increment_Sequence</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Last step</defaultConnectorLabel>
        <rules>
            <name>Not_Yet_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Keep_Going.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAvgStepTimes</targetReference>
            </connector>
            <label>Not Yet</label>
        </rules>
    </decisions>
    <description>Flowdometer UI for creating Goals</description>
    <dynamicChoiceSets>
        <name>GoalUnits</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Goal_Measured_In_units__c</picklistField>
        <picklistObject>Step__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>formAnotherStepAfterThis</name>
        <dataType>Boolean</dataType>
        <expression>NOT({!varCurrentClonedStepIsFinalStep})</expression>
    </formulas>
    <formulas>
        <name>formGoalHandleTime</name>
        <dataType>Number</dataType>
        <expression>IF({!Keep_Going.value},{!Goal_Handle_Time_0_0},null)</expression>
        <scale>1</scale>
    </formulas>
    <formulas>
        <name>formIncrementSequenceNumber</name>
        <dataType>Number</dataType>
        <expression>1+{!varCurrentSequenceNumber}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formOfTypeType</name>
        <dataType>String</dataType>
        <expression>IF({!Type}=&quot;&quot;,&quot; type is blank&quot;,&quot; type is &quot;+{!Type})</expression>
    </formulas>
    <formulas>
        <name>formTerminalStepValue</name>
        <dataType>Boolean</dataType>
        <expression>NOT({!Keep_Going.value})</expression>
    </formulas>
    <formulas>
        <name>formTypicallyTakes</name>
        <dataType>Number</dataType>
        <expression>CASE({!Units},
&quot;Days&quot;, {!varMatchingStepHTDaysSum},
&quot;Weekdays&quot;, {!varMatchingStepHTWeekdaysSum},
&quot;Hours&quot;, {!varMatchingStepHTHoursSum},
null
) / {!varMatchingStepCount}</expression>
        <scale>1</scale>
    </formulas>
    <interviewLabel>Set Goal for Steps in Object Field {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flowdometer - Set Goal for Steps in Object Field</label>
    <loops>
        <name>GetNextCloneStep</name>
        <label>GetNextCloneStep</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignNextValueToReference>varCurrentCloneStep</assignNextValueToReference>
        <collectionReference>GetCloneSteps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetCurrentClonedStepVariables</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>GetNextCloneStep_0</name>
        <label>GetNextCloneStep</label>
        <locationX>792</locationX>
        <locationY>1430</locationY>
        <assignNextValueToReference>varCurrentCloneStep</assignNextValueToReference>
        <collectionReference>GetCloneSteps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetCurrentClonedStepVariables_0</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Matching_Steps</name>
        <label>Matching Steps</label>
        <locationX>968</locationX>
        <locationY>2078</locationY>
        <assignNextValueToReference>varCurrentAvgHandleTimeStep</assignNextValueToReference>
        <collectionReference>getAvgStepTimes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increment_Totals_for_Avg</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Step_Goal_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_First_Step</name>
        <label>Create First Step</label>
        <locationX>924</locationX>
        <locationY>1214</locationY>
        <assignRecordIdToReference>varCurrStepId</assignRecordIdToReference>
        <connector>
            <targetReference>DidUnitsMatch</targetReference>
        </connector>
        <inputAssignments>
            <field>Field_Value_Initial__c</field>
            <value>
                <elementReference>First_Step_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow__c</field>
            <value>
                <elementReference>varFlowId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Goal_Field_Change_Handle_Time_Hrs__c</field>
            <value>
                <elementReference>First_Goal_Handle_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Goal_Measured_In_units__c</field>
            <value>
                <elementReference>Units</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varStepGoalRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sequence__c</field>
            <value>
                <elementReference>varCurrentSequenceNumber</elementReference>
            </value>
        </inputAssignments>
        <object>Step__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Flow</name>
        <label>Create Flow</label>
        <locationX>924</locationX>
        <locationY>1106</locationY>
        <assignRecordIdToReference>varFlowId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_First_Step</targetReference>
        </connector>
        <inputAssignments>
            <field>Match_Goal_with_Flows__c</field>
            <value>
                <elementReference>varMatchGoalwithFlows</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varFlowGoalRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tracked_Field_Name__c</field>
            <value>
                <elementReference>Field_to_track</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tracked_Object__c</field>
            <value>
                <elementReference>Other_Object_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </inputAssignments>
        <object>Flow__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Next_Step</name>
        <label>Create Next Step</label>
        <locationX>1100</locationX>
        <locationY>2678</locationY>
        <assignRecordIdToReference>varCurrStepId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Last_Step</targetReference>
        </connector>
        <inputAssignments>
            <field>Field_Value_Initial__c</field>
            <value>
                <elementReference>Step_Name_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow__c</field>
            <value>
                <elementReference>varFlowId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Goal_Field_Change_Handle_Time_Hrs__c</field>
            <value>
                <elementReference>formGoalHandleTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Goal_Measured_In_units__c</field>
            <value>
                <elementReference>Units</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Step__c</field>
            <value>
                <elementReference>varCurrStepId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varStepGoalRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sequence__c</field>
            <value>
                <elementReference>varCurrentSequenceNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Success__c</field>
            <value>
                <elementReference>formTerminalStepValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Terminal_Stage__c</field>
            <value>
                <elementReference>formTerminalStepValue</elementReference>
            </value>
        </inputAssignments>
        <object>Step__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Flow_Goal_RT</name>
        <label>Get Flow Goal RT</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Step_Goal_RT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Goal</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Flowdometer__Flow__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varFlowGoalRT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Step_Goal_RT</name>
        <label>Get Step Goal RT</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getFlowLaunchingGoalMaker</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Goal</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Flowdometer__Step__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varStepGoalRT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getAvgStepTimes</name>
        <label>getAvgStepTimes</label>
        <locationX>968</locationX>
        <locationY>1862</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Limit_Collection_Size</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Field_Value_Initial__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Step_Name_0</elementReference>
            </value>
        </filters>
        <filters>
            <field>Handle_Time_Hours_in_this_Step__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>TrackedFieldName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Field_to_track</elementReference>
            </value>
        </filters>
        <filters>
            <field>TrackedObjectType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Other_Object_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Step__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Step_Handle_Time__c</queriedFields>
        <queriedFields>HandleTimeWeekdays__c</queriedFields>
        <queriedFields>Handle_Time_Hours_in_this_Step__c</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCloneSteps</name>
        <label>GetCloneSteps</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetNextCloneStep</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Flow__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Step__c</object>
        <sortField>Sequence__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getFlowLaunchingGoalMaker</name>
        <label>getFlowLaunchingGoalMaker</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCloneSteps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Flow__c</object>
        <outputAssignments>
            <assignToReference>varCurrentFlowRecordType</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varDefaultFieldName</assignToReference>
            <field>Tracked_Field_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varDefaultObjectName</assignToReference>
            <field>Tracked_Object__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varDefaultTypeName</assignToReference>
            <field>Type__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Flow_with_Latest_Step</name>
        <label>Update Flow with Latest Step</label>
        <locationX>1100</locationX>
        <locationY>2894</locationY>
        <connector>
            <targetReference>Last_Step_Reached</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFlowId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Most_Recent_Step__c</field>
            <value>
                <elementReference>varCurrStepId</elementReference>
            </value>
        </inputAssignments>
        <object>Flow__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Last_Step</name>
        <label>Update Last Step</label>
        <locationX>1100</locationX>
        <locationY>2786</locationY>
        <connector>
            <targetReference>Update_Flow_with_Latest_Step</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLastStepId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Field_Value_Ending__c</field>
            <value>
                <elementReference>Step_Name_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Step__c</field>
            <value>
                <elementReference>varCurrStepId</elementReference>
            </value>
        </inputAssignments>
        <object>Step__c</object>
    </recordUpdates>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>1232</locationX>
        <locationY>3110</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CreatedConf</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Your goal is now set! &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;/{!varFlowId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px;&quot;&gt;Click to view this goal&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Set_Flow_Goal</name>
        <label>Set Flow Goal</label>
        <locationX>924</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Step_Goal</targetReference>
        </connector>
        <fields>
            <name>Description</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Set a Goal&lt;/span&gt;&lt;/p&gt;&lt;p&gt;There is no Goal attached to this Flow. Set targets for time spent, and going forward, this Goal will be automatically attached to matching Flows. &lt;b&gt;Choose an object and a field.&lt;/b&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt; &lt;/b&gt;&lt;i style=&quot;color: rgb(0, 0, 0);&quot;&gt;Use the name as it shows on the Page Layout.&lt;/i&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;i style=&quot;color: rgb(131, 131, 131);&quot;&gt;Example:&lt;/i&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;i style=&quot;color: rgb(131, 131, 131);&quot;&gt;Object to track: &lt;/i&gt;&lt;b style=&quot;color: rgb(131, 131, 131);&quot;&gt;&lt;i&gt;Opportunity&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;i style=&quot;color: rgb(131, 131, 131);&quot;&gt;Field to track: &lt;/i&gt;&lt;b style=&quot;color: rgb(131, 131, 131);&quot;&gt;&lt;i&gt;Stage&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varCurrentFlowRecordType</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>varFlowGoalRT</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Other_Object_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varDefaultObjectName</elementReference>
            </defaultValue>
            <fieldText>Object To Track</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Field_to_track</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varDefaultFieldName</elementReference>
            </defaultValue>
            <fieldText>Field To Track</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Type</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varDefaultTypeName</elementReference>
            </defaultValue>
            <fieldText>Type (optional - see help text)</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;OPTIONAL - &lt;strong&gt;Type&lt;/strong&gt; should be blank unless you plan on having different goal times for different Types of this object &lt;em&gt;(ie: &lt;/em&gt;&lt;strong&gt;&lt;em&gt;New Business&lt;/em&gt;&lt;/strong&gt;&lt;em&gt; vs &lt;/em&gt;&lt;strong&gt;&lt;em&gt;Renewal Opportunities&lt;/em&gt;&lt;/strong&gt;&lt;em&gt; may expect different sales cycle times)&lt;/em&gt;.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If so, put the API Name of the field you’re using to identify these types here in the Type field. If you need to combine two or more fields to get all Type permutations, you can build a formula field to concatenate them, and pass that in here.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Apply_this_goal_against_historical_data_without_a_goal</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Apply this goal retroactively (see help text)</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Checking this will have Flowdometer apply this goal against any previously tracked Flowdometer data that has no goal and matches this goal. &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;It will not overwrite goals you already have set against old data, even if they match. This could be done manually or by deleting the other goal first.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;A match is found if the tracking data is for this same &lt;strong&gt;Object&lt;/strong&gt; and &lt;strong&gt;Field&lt;/strong&gt;. If &lt;strong&gt;Type&lt;/strong&gt; is provided, it will also only match tracking data with the same &lt;strong&gt;Type&lt;/strong&gt;. &lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Set_Step_Goal</name>
        <label>Set Step Goal</label>
        <locationX>924</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_from_First_Step</targetReference>
        </connector>
        <fields>
            <name>StepNameDescription</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Name of initial Step&lt;/span&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt; &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(131, 131, 131); font-size: 12px;&quot;&gt;Default or beginning value of {!Field_to_track} on {!Other_Object_Name}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;i style=&quot;color: rgb(131, 131, 131);&quot;&gt;&lt;u&gt;Examples:&lt;/u&gt;&lt;/i&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;i style=&quot;color: rgb(131, 131, 131); background-color: rgb(255, 255, 255);&quot;&gt;1st Stage on the Opportunity: &lt;/i&gt;&lt;b style=&quot;color: rgb(131, 131, 131);&quot;&gt;Prospecting&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;i style=&quot;color: rgb(131, 131, 131); background-color: rgb(255, 255, 255);&quot;&gt;1st Status on Case: &lt;/i&gt;&lt;b style=&quot;color: rgb(131, 131, 131); background-color: rgb(255, 255, 255);&quot;&gt;New&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>First_Step_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varCurrentClonedStepName</elementReference>
            </defaultValue>
            <fieldText>Initial Step Name</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;The text/label value of the first step or stage of your process. For example, maybe Opportunities start in &lt;strong&gt;New&lt;/strong&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>StepGoalHandleTime</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Set a target &quot;Time to First Response&quot;: &lt;/b&gt;(how long it takes to finish this initial step)&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Units</name>
            <choiceReferences>GoalUnits</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Unit of Measurement for Goal</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;This is where you choose if you want to set goals in Hours, Days, or (see red warning) Weekdays&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>First_Goal_Handle_Time</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>varCurrentClonedStepHandleTime</elementReference>
            </defaultValue>
            <fieldText>Goal: Time to First Response</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;The amount of time this first step should take, in the units you selected previously. All remaining steps will use the same units.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <scale>1</scale>
        </fields>
        <fields>
            <name>WeekdayWarningNote</name>
            <fieldText>&lt;p&gt;&lt;i style=&quot;background-color: rgb(255, 255, 255); color: rgb(205, 90, 90);&quot;&gt;NOTE: setting a goal in Weekdays is imprecise, and counts in whole days (vs decimals)&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Units</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Weekdays</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Set_Step_Goal_0</name>
        <label>Set Step Goal</label>
        <locationX>1100</locationX>
        <locationY>1646</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Last_Step_Reached_0</targetReference>
        </connector>
        <fields>
            <name>StepNameDescription_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Next Step after&lt;/span&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt; {!varCurrentStepName}:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;i style=&quot;color: rgb(131, 131, 131);&quot;&gt;(for {!Field_to_track} on the object {!Other_Object_Name})&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Step_Name_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varCurrentClonedStepName</elementReference>
            </defaultValue>
            <fieldText>Next Step Name</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Continue through this process, step by step, until you reach your final step, which we call the &lt;strong&gt;Terminal Step&lt;/strong&gt;.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Keep_Going</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Keep Going?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>My Process Has More Steps</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>This is the Final Step</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>formAnotherStepAfterThis</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>warning</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 30, 0);&quot;&gt;IMPORTANT: Toggle &quot;Keep Going?&quot; to off when you enter the final step in your process. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(15, 14, 14);&quot;&gt;Your final step should mean the process succeeded (like Closed Won or Completed). You can add additional terminal steps (like Closed Lost) from the &quot;Add Terminal Step&quot; button on the newly created goal when you finish it.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(15, 14, 14);&quot;&gt;There is also a button on every &lt;/span&gt;&lt;em style=&quot;color: rgb(15, 14, 14);&quot;&gt;Goal&lt;/em&gt;&lt;span style=&quot;color: rgb(15, 14, 14);&quot;&gt; record to Clone it, making changes to Step Names and Goal Times as you go, if you have a similar goal for example. You can find a goal attached to &lt;/span&gt;&lt;em style=&quot;color: rgb(15, 14, 14);&quot;&gt;Tracker&lt;/em&gt;&lt;span style=&quot;color: rgb(15, 14, 14);&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;color: rgb(15, 14, 14);&quot;&gt;Flows&lt;/strong&gt;&lt;span style=&quot;color: rgb(15, 14, 14);&quot;&gt; and &lt;/span&gt;&lt;strong style=&quot;color: rgb(15, 14, 14);&quot;&gt;Steps.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Keep_Going.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Set_Step_Goal_0_0</name>
        <label>Set Step Goal</label>
        <locationX>968</locationX>
        <locationY>2378</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Increment_Sequence</targetReference>
        </connector>
        <fields>
            <name>StepNameDescription_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); font-size: 20px;&quot;&gt;How many &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 20px;&quot;&gt;{!Units}&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); font-size: 20px;&quot;&gt; should&lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); font-size: 20px;&quot;&gt; &quot;{!Step_Name_0}&quot;&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); font-size: 20px;&quot;&gt; take?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Goal_Handle_Time_0_0</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>varCurrentClonedStepHandleTime</elementReference>
            </defaultValue>
            <fieldText>Goal Handle Time</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;The time (in {!Units}) you want this step to take&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <scale>1</scale>
        </fields>
        <fields>
            <name>typically_takes</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(62, 62, 60);&quot;&gt;Based on historical data, i﻿&lt;/em&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(62, 62, 60);&quot;&gt;t typically takes &lt;/em&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(0, 153, 0);&quot;&gt;&lt;em&gt;{!formTypicallyTakes} {!Units}&lt;/em&gt;&lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(62, 62, 60);&quot;&gt;&lt;em&gt; &lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>formTypicallyTakes</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>formTypicallyTakes</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Flow_Goal_RT</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varClonedFlowGoalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCurrentAvgHandleTimeStep</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Step__c</objectType>
    </variables>
    <variables>
        <name>varCurrentClonedStepHandleTime</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>1</scale>
    </variables>
    <variables>
        <name>varCurrentClonedStepIsFinalStep</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCurrentClonedStepName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCurrentClonedStepUnits</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCurrentCloneStep</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Step__c</objectType>
    </variables>
    <variables>
        <name>varCurrentFlowRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCurrentSequenceNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varCurrentStepGoal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>1</scale>
    </variables>
    <variables>
        <name>varCurrentStepName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCurrStepId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDefaultFieldName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDefaultObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDefaultTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFlowGoalRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFlowId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLastStepId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLoopCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>100.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varMatchGoalwithFlows</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varMatchingStepCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varMatchingStepHTDaysSum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>1</scale>
    </variables>
    <variables>
        <name>varMatchingStepHTHoursSum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>1</scale>
    </variables>
    <variables>
        <name>varMatchingStepHTWeekdaysSum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varNumClonedStepsLeft</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varStepGoalRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
