force-app/main/default/flows/Update_Task_with_Step.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <description>Flowdometer automation to tag activities against the current Step of the object they were associated to.</description>
    <formulas>
        <name>formPreferredObjectId</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!WhatId})),{!WhatId},{!WhoId})</expression>
    </formulas>
    <interviewLabel>Update Task with Step {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flowdometer - Update Task with Step</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Flow</name>
        <label>get Step from Flow</label>
        <locationX>390</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Task_with_Step</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Tracked_Object_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formPreferredObjectId</elementReference>
            </value>
        </filters>
        <object>Flow__c</object>
        <outputAssignments>
            <assignToReference>varCurrentStep</assignToReference>
            <field>Most_Recent_Step__c</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Task_with_Step</name>
        <label>Update Task with Step</label>
        <locationX>518</locationX>
        <locationY>50</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varActivityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Step__c</field>
            <value>
                <elementReference>varCurrentStep</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>get_Flow</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>varActivityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCurrentStep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WhatId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WhoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
